.container
  .jumbotron
    %h1.display-4 Hello, friends!
    %p.lead We have our first baby on the way, and we'd love to use your old baby stuff! If you have anything you'd like to get rid of, add it to the list below, and we'll take it off your hands.
    %hr.my-4
    %p Please don't buy anything new. (Except diapers. We don't need used diapers.)

  .row.mt-5.justify-content-between
    .col-md-5
      %h4 What We Need

      - if logged_in?
        = form_with model: demand, class: 'form-inline mb-2 justify-content-end' do |f|
          = f.label :description, class: 'sr-only'
          = f.text_field :description, placeholder: 'Request something else', class: 'form-control w-50 mr-2'
          = f.submit 'Add', class: 'btn btn-info'

      %ul.list-group.demands= render demands

    .w-100.mt-5.d-md-none

    .col-md-5
      %h4 What's Been Offered

      = form_with model: item, class: 'form-inline mb-2 justify-content-end' do |f|
        = f.label :description, 'Your item', class: 'sr-only'
        = f.text_field :description, placeholder: 'Your item', class: 'form-control w-50 mr-2'
        = f.label :sender, 'Your name', class: 'sr-only'
        = f.text_field :sender, placeholder: 'Your name', class: 'form-control w-25 mr-2'
        = f.submit 'Add', class: 'btn btn-info'

      %ul.list-group.items= render items

.footer
  .container
    - if logged_in?
      = link_to "Log Out #{current_user.name}", session_path, method: :delete
    - else
      = link_to 'Log In', new_session_path
      (if you're Eric or Julie)
