!!! 5
%html
  %head
    %title Eric & Julie Need Your Shit
    = csrf_meta_tags
    = csp_meta_tag
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = yield

    .footer
      .container
        - if logged_in?
          = link_to "Log Out #{current_user.name}", session_path, method: :delete
        - else
          = link_to 'Log In', new_session_path
          (if you're Eric or Julie)
